<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/login" method="post">
    <div>
        <label for="username">User name:
            <input id="username" type="text" name="username">
        </label>
    </div>
    <div>
        <label for="password">Password:
            <input id="password" type="password" name="password">
        </label>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<form action="/users/registration">
    <div>
        <button type="submit">Register</button>
    </div>
</form>
</body>
</html>